@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');


body {
  overflow: hidden;
  font-family: 'Indie Flower', cursive;
  color: darkslategrey;
}

/* Navigation */
.navbar {
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.6)!important;
}
.navbar-brand img {
    height: 2rem;
}
.nav-bar li {
      padding-right: .7rem;
}
.nav-bar .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}
.nav-bar .navbar-nav .nav-link.active,
.nav-bar .navbar-nav .nav-link:hover {
    color: #1EBBA3;
}
/* langing page */
.home-inner {
    background-image: url(back6.jpg);
}
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 19%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
    text-shadow: .1rem .1rem 2rem red;
}
.caption h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem 2rem red;
    padding-bottom: 1rem;
}
.caption h3 {
    font-size: 2rem;
    text-shadow: .5rem .5rem 2rem red;
    padding-bottom: 1.6rem;
}
.btn-lg {
    text-shadow: .5rem .5rem 2rem red;
    padding: .6rem 1.3rem;
    font-size: 1.1rem; 
}
.status{
    color: rgb(228, 218, 224);
    font-family: 'Indie Flower', cursive;
    text-shadow: .1rem .1rem 2rem red;
    text-align: center; 
    font-size: 30px;
}
.container{
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: auto auto;
    padding: 10px;
}
.square{
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    height: 80px;
    width: 80px;
    font-size: 25px;
    text-align: center;
    margin: auto;
}
.start{
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(35, 123, 79, 0.615);
    padding: 20px;
    padding-top: 30px;
    height: 80px;
    width: 80px;
    font-size: 15px;
    text-align: center;
    margin: auto;
}
.reset{
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(128, 48, 34, 0.8);
    padding: 20px;
    padding-top: 30px;
    height: 80px;
    width: 80px;
    font-size: 15px;
    margin: auto;
}
.flash{
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(215, 183, 238, 0.8);
    padding: 20px;
    height: 80px;
    width: 80px;
    font-size: 30px;
    text-align: center;
    margin: auto;
}
.white{
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(247, 247, 247, 0.8);
    padding: 20px;
    padding-top: 30px;
    height: 80px;
    width: 80px;
    font-size: 15px;
    text-align: center;
    margin: auto;
}
/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/