p{
    color: blueviolet;
}
body{
    background-color: rgb(97, 134, 147);
    /* background-image: './img/back1.jpg'; */
    text-align: center;
}
h1{
    color: rgb(223, 152, 191);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
} 
h2{
    color: rgb(223, 152, 191);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}
a{
    text-decoration: none;
    color: rgba(208, 191, 9, 0.899);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.status{
    color: rgb(223, 152, 191);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    font-size: 30px;
}
.level{
    color: rgb(223, 152, 191);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    font-size: 30px;
}
.container{
    display: grid;
    background-color: lightgreen;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: auto auto;
    padding: 10px;
    /* text-align: center; */

}
.square{
    color: black;
    border: 2px solid grey;
    border-radius: 10px;
    /* background-color: rgba(255, 255, 255, 0.8); */
    padding: 20px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    margin: auto;
}
.start{
    color: black;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgba(25, 210, 118, 0.615);
    padding: 20px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    margin: auto;
}
.stop{
    color: black;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgba(237, 44, 10, 0.8);
    padding: 20px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    margin: auto;
}
.flash{
    color: black;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgba(215, 183, 238, 0.8);
    padding: 20px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    margin: auto;

}
.sq0{
    color: black;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgba(187, 14, 55, 0.8);
    padding: 20px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    margin: auto;

} 
.sq1{
    color: black;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgba(187, 14, 55, 0.8);
    padding: 20px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    margin: auto;

}
.sq2{
    color: black;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgba(187, 14, 55, 0.8);
    padding: 20px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    margin: auto;

}
.sq3{
    color: black;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgba(187, 14, 55, 0.8);
    padding: 20px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    margin: auto;

}